$primary: #E92569;
$primary-txt: #767676;
$secondary: #767676;
$dark: #0A0A0A;
$light: #FFFFFF;

$primary-colour-hover: $primary;

$background-dark: $primary-txt;

$custom-control-indicator-size: 2rem;
$custom-control-indicator-bg: $primary !default;
$custom-control-indicator-border-color: $primary !default;

